<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/065918b2fd.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="div-header-top">
      <img class="logo" src="imagenes/logo-mercado-liebre.svg">
    <br>
      <div class="search-button-lupa">
        <input class="search-button" type="search" placeholder="Buscar productos, marcas"/></input> 
        <button><i class="fa-solid fa-magnifying-glass" style="color: #010101;"></i></button>
      </div>
    <br>
    <br>
      <div class="textoManito-icono">
      <p class="textoManito"> <i class="fa-solid fa-hand-holding-dollar" style="color: #010101;"></i> Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
    </div>  
      <br>
      <br>
      <ul class="titulitosHeader">
        <div class="titulitosHeader1">
          <li class="pruebaofertas">Ofertas</li>
          <li>Tiendas Oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
        </div>
    <br>
        <div class="titulitosHeader2">
          <li>Creá tu cuenta <i class="fa-regular fa-id-card" style="color: #010101;"></i></li>
          <li>Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #010101;"></i></li>
          <li>Mis compras <i class="fa-solid fa-basket-shopping" style="color: #010101;"></i></li>
        </div>
      </ul>
      <div class="menuHeaderPadre"><i class="fa-solid fa-bars hamburguerMenu" style="color: white;"></i></div>
      <br>
    </header>
    <main>
      <div class="imgBanner"></div>
    <div class="productosPadre">
      <h5 class="titularesMain">Basado en tu última visita </h5>
      <ul>
        <img class="ftProductos" src="imagenes/img-cafetera-moulinex.jpg">
        <div class="cajitaInfoProducto">
          <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
          <li class="precios">$61.800</li>
      <br>
          <li class="nombreProducto">Cafetera Moulinex</li>
        </div>
      <br>
        <img class="ftProductos" src="imagenes/img-macbook-pro-2019.jpg">
        <div class="cajitaInfoProducto"> 
          <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
          <li class="precios">$2.499.999</li>
          <li class="descuentos">10% de descuento</li>
      <br>
          <li class="nombreProducto">Macbook pro 2019</li>
        </div> 
      <br>
      </ul>
      <h5 class="titularesMain">Ofertas</h5>
      <ul>
        <img class="ftProductos" src="imagenes/img-samsung-galaxy-s10.jpg">
        <div class="cajitaInfoProducto">
          <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
          <li class="precios">$110.000</li>
          <li class="descuentos">30$ de descuento</li>
      <br>
          <li class="nombreProducto">Samsung Galaxy s10</li>
        </div> 
      <br>
        <img class="ftProductos" src="imagenes/img-tv-samsung-smart.jpg">
        <div class="cajitaInfoProducto">
          <i class="fa-solid fa-truck" style="color: #39b54a;"></i>  
          <li class="precios">$320.520</li>
          <li class="descuentos">25% de descuento</li>
      <br>
          <li class="nombreProducto">TV Samsung Smart</li>
        </div> 
      </ul>
    </div>
    <br>
    </main>
    <footer>
      <div class="divFooter">
      <i class="fa-solid fa-credit-card" style="color: #1259c3;"></i>
      <h4 class="titularFooter">Pagá con tarjeta o efectivo</h4>
        <p class="cuerpoFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    <br>
    <br>
        <i class="fa-solid fa-gift" style="color: #1259c3;"></i>
      <h4 class="titularFooter">Envío gratis desde $ 2.500</h4>
        <p class="cuerpoFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    <br> 
    <br> 
        <i class="fa-solid fa-user-shield" style="color: #1259c3;"></i>
      <h4 class="titularFooter">Seguridad, de principio a fin</h4>
        <p class="cuerpoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
      </div>
    <br>
    <br>
        <p class="cuerpoFooter">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>
