<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cuenta!</title>
</head>
<body>
    <form action="register"></form>
    <label for="nombre">Nombre y Apellio</label><input type="text" id="nombre" name="nombre">
    <label for="nombreUsuario">Nombe de usuario</label><input type="text" id="nombreUsuario" name="nombreUsuario">
    <label for="nacimiento">Fecha de nacimiento</label><input type="date" id="nacimiento" name="nacimiento">
    <label for="domicilio">Domicilio</label><input type="text" id="domicilio" name="domicilio">
    <label for="interes">
        <input type="checkbox" name="interes" value="Electro">
        Electro
    </label>
    <label for="interes">
        <input type="checkbox" name="interes" value="Moda">
        Moda
    </label>
    <label for="interes">
        <input type="checkbox" name="interes" value="Hogar">
        Hogar
    </label>
    <label for="interes">
        <input type="checkbox" name="interes" value="Jugueteria">
        Jugueteria
    </label>
    <label for="interes">
        <input type="checkbox" name="interes" value="Vida sana">
        Vida sana
    </label>
    <label for="avatar">
        Avatar
        <input type="file" accept=".jpg">
    </label>
    <label for="contraseña">
        Contraseña
        <input type="password">
    </label>
    <label for="confimar-contraseña">
        Confirmar constraseña
        <input type="password">
    </label>
    <button type="reset">Volver a empezar</button>
    <button type="submit" value="Enviar">Enviar</button>
</body>
</html>