body{
    font-family: 'Roboto', sans-serif;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header{
    background-color:#EAC926;
    background-size: cover;
    width: 100%;
    height: 180px;
    padding: 10px;
}
.div-header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logo{
    height: 80px;
    width: 130px;
}
.textoManito{
    display: flex;
    justify-content: center;
}
.search-button-lupa{
    align-self: center;
    overflow: hidden;
    background-color: white;
    height: 25px;
}
.search-button{
    overflow: hidden;
    border: none;
    border-left: solid 1px #ebebeb;
    height: 25px;
}
.lupita{
    padding: 2px;
    height: 15px;
    width: 20;
}
.titulitosHeader{
    display: none;
}
ul{
    list-style-type:none;
}
.hamburguerMenuPadre{
    display: contents;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px
}
.fa-bars{
    background-color: #03264C;
    padding: 7px 15px;
    border-radius: 5px;
}

/*MAIN*/

.imgBanner{
    width: 100%;
    height: 85px;
}
main{
    background-color: #ebebeb;
}
.productosPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajitaInfoProducto{
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
}
.titularesMain{
    font-size: 24px;
    color:#666;
}
.ftProductos{
    height: 220px;
    width: 220px;
}
.precios{
        font-size: 18px;
}
.nombreProducto{
    font-size: 16;
}
.descuentos{
    font-size: 16px;
    color: #39b54a;
}
.nombreProducto2{
    font-size: 16;
}

/*FOOTER*/

footer{
    background-color: white ;
}
.divFooter{
    text-align: center;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
}
.titularFooter{
    font-size: 16px;
    color: #666
}
.cuerpoFooter{
    font-size: 12px;
    color: #666

}

/*----------------------------------------------------------*/

@media only screen and (max-width: 2000px) and (min-width:1000px) {

    /*-------------HEADER-----------------*/

    header{
        background-color:#EAC926;
        padding: 10px 60px;
        height: 120px;
        font-weight: bold;
    }
    .logo{
        height: 70px;
        width: 160px;
    }
    .div-header-top{
        display: flex;
        justify-content: space-evenly;
    } 
    .search-button-lupa{
        display: flex;
        justify-content: space-around;
        align-self: center;
        overflow: hidden;
        background-color: white;
        height: 30px;
        width: 400px;
    }
    .search-button{
        border: none;
        height: 30px;
        width: 360px;
        border-right: solid 2px #ebebeb;
    }
    .lupita{
        align-self: center;
        padding-right: 3px
    }
    .textoManito{
        align-self: center;
        font-size: 15px;
    }
    .titulitosHeader{
        display: contents;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        bottom: 30px;
        font-size: 14px;
    }
    .titulitosHeader1{
        display: flex;
        justify-content: space-between;
        width: 400px;
        text-decoration: none;
    }
    .titulitosHeader2{
        display: flex;
        justify-content: space-between;
        width: 400px;
        text-decoration: none;
    }
    .titulitosHeader2 li a { 
        text-decoration: none; 
        color: black;
        }
    .hamburguerMenuPadre{
        display: none;
    }

    /*---------MAIN-----------*/
    
    .imgBanner{
        width: 100%;
        height: 300px;
    }
   .productosPadre{
        display: block;
    }
    .titularesMain{
        position: absolute;
        align-self: flex-start;
        padding-left: 17.5vw;
    }
    .basado-ultima-vista{
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        height: 400px;
        align-items: flex-end;
    }
    .ofertas{
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        height: 400px;
        align-items: flex-end;
    }
    .precios-descuentos{
        display: flex;
        font-weight: bold;
    }
    .descuentos{
        margin-left: 15px;
        font-size: 14px;
        align-self: center;
    }
    .camioncito{
        position: relative;
        left: 170px;
    }
    .camioncito:hover{
        transform: rotate(270deg);
        align-self: flex-end;

    }
    .nombreProducto{
        opacity: 0;
        height: 1px;
    }
    .nombreProducto:hover{
       opacity: 1.5;
       height: 19.2px;
    }
    .productoEntero:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /*---------FOOTER-----------*/

    .divFooter{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }
    .titularFooter{
        font-size: 18px;
        color: #666
    }
    .cuerpoFooter{
        font-size: 15px;
        color: #666
    }
}

@media only screen and (max-width:1001px) and (min-width:481px) {

        /*-------------HEADER-----------------*/

        header{
            background-color:#EAC926;
            padding: 10px 60px;
            height: 150px;
            font-weight: bold;
        }
        .logo{
            height: 65px;
            width: 130px;
        }
        .div-header-top{
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        } 
        .search-button-lupa{
            display: flex;
            justify-content: space-evenly;
            align-self: center;
            background-color: white;
            height: 30px;
            
        }
        .search-button{
            border: none;
            height: 30px;
            border-right: solid 2px #ebebeb;
        }
        .lupita{
            align-self: center;
            padding-right: 3px
        }
        .textoManito{
            align-self: center;
            font-size: 15px;
            justify-content: end;
        }
        .titulitosHeader{
            display: contents;
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: 30px;
            font-size: 14px;
        }
        .titulitosHeader1{
            display: flex;
            justify-content: space-evenly;
            width: 400px;
        }
        .titulitosHeader2{
            display: flex;
            justify-content: space-evenly;
            width: 400px;
        }
        .hamburguerMenuPadre{
            display: none;
        }
    
        /*---------MAIN-----------*/
        
        .imgBanner{
            width: 100%;
            height: 27vw;
        }
       .productosPadre{
            display: block;
        }
        .titularesMain{
            position: absolute;
            align-self: flex-start;
            padding-left: 12vw;
        }
        .basado-ultima-vista{
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            height: 400px;
            align-items: flex-end;
        }
        .ofertas{
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            height: 400px;
            align-items: flex-end;
        }
        .productoEntero:hover{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);;
        }
    
    
        /*---------FOOTER-----------*/
    
        .divFooter{
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
        }
        .titularFooter{
            font-size: 18px;
            color: #666
        }
        .cuerpoFooter{
            font-size: 15px;
            color: #666
        }
}

/*-------------------------------------------------------------------*/
/*----------register form--------------------*/

.main-register{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}
.form-register-padre{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1000px;
    background-color: #ebebeb;
    padding: 10px 15px;
}
.todosLosInput{
    height: 30px;
    border: none;
    border-radius: 7px;
    padding: 5px;
}
.botones-reset-enviar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boton-enviar-register{
    width: 80px;
    height: 30px;
    border-radius: 7px;
    background-color: #1259c3;
    border: none;
    color: white;
}
.boton-reset{
    width: 80px;
    height: 30px;
    border-radius: 7px;
    background-color: #1259c3;
    color: white;
    border: none;
}
.vendedor-comprador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/*-------login form--------------*/

.main-login{
    display: flex;
    justify-content: center;
    width: 100%;
}
.login{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 60vw;
    justify-content:space-around;
    padding: 5px;
}
.elemento-login{
    height: 40px;
    border: none;
    border-radius: 7px;
    padding: 0 5px;
}
.enviar-login{
    background-color: #1259c3;
    font-weight: bold;
    height: 45px;
    border: none;
    border-radius: 7px;
    color: white;
}
.enviar-login a{
    text-decoration: none;
    color: white;
}