body{
    font-family: 'Roboto', sans-serif;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header{
    background-color:#EAC926;
    padding: 15px;
    padding-right: 15px

}
.logo{
    height: 80px;
    width: 160px;
}
.textoManito{
    text-align: center;
}
.titulitosHeader{
    display: none;
}
.textoManito-icono{
    font-size: 12px;
}
ul{
    list-style-type:none;
}
.menuHeaderPadre{
    display: flex;
    justify-content: center;
}
.fa-bars{
    background-color: #1259c3;
    padding: 5px;
    border-radius: 5px;
}
.hamburguerMenu{
    display: contents;
    width: 25px;
    height: 25px;
}

/*MAIN*/

.imgBanner{
    width: 400px;
    height: 80px;
}
main{
    background-color: #ebebeb;
}
.productosPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajitaInfoProducto{
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
}
.titularesMain{
    font-size: 24px;
    color:#666;
}
.ftProductos{
    height: 220px;
    width: 220px;
}
.precios{
        font-size: 18px;
}
.nombreProducto{
    font-size: 16;
}
.descuentos{
    font-size: 16px;
    color: #39b54a;
}
.nombreProducto2{
    font-size: 16;
}

/*FOOTER*/

footer{
    height: 400px;
    background-color: white ;
    padding: 30px 45px;
}
.divFooter{
    text-align: center;
}
.titularFooter{
    font-size: 16px;
    color: #666
}
.cuerpoFooter{
    font-size: 12px;
    color: #666
}

/*----------------------------------------------------------*/

@media only screen and (max-width: 2000px) and (min-width:769px) {
    header{
        background-color:#EAC926;
        padding: 10px 60px;
        height: 120px;
        font-weight: bold;
    }
    .logo{
        height: 70px;
        width: 160px;
    }
    .div-header-top{
        display: flex;
        justify-content: space-evenly;
    } 
    .search-button-lupa{
        display: flex;
        align-self: center;
        background-color: white;
        padding: 10px 60px 10px 15px;
    }
    .textoManito-icono{
        display: flex;
        align-self: center;
        font-size: 15px;
    }
    .titulitosHeader{
        display: contents;
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 30px;
        font-size: 14px;
    }
    .titulitosHeader1{
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
    .titulitosHeader2{
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
    .hamburguerMenu{
        display: none;
    }
    .imgBanner{
        background-image: url("../public/imagenes/img-home-banner.jpg");
    }
}